.custom-marker {
    color: #292929;
    display: block;
    font-size: 14px;
    white-space: nowrap;
}

.custom-marker .content{
    transform: translateY(-100%);
    background-color: #ffffff;
    padding: 12px 24px;
    border-radius: 12px;
    /* box-shadow: 0 0 64px #292929; */
}