.markerContent{
    background-color: white;
    transform: translateY(-60px);
    padding: 12px;
    width: 200px;
    height: 120px;
    border-radius: 12px;
    position: relative;
    transition: all .3s;
}

.markerContent.shrink{
    /* background-color: red; */
    width: 64px;
    height: 64px;
}

.markerContent:hover{
    background-color: rgb(0, 123, 255);
    color: white;
    cursor: pointer;
}

.markerContent::after{
    content: '';
    display: block;
    width: 12px;
    aspect-ratio: 1/1;
    height: auto;
    border-radius: 1000px;
    background-color: white;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.markerContent:hover::after{
    background-color: rgb(0, 123, 255);
}